body {
    background-color: beige;
}
/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2 {
    background-color: plum;
}
/* h1의 자매 중 첫번째 h2만 plum 배경색 
    만약 h1의 첫번째 자매는 h2고 두번째 자매가 h3일 경우에 h1 + h3를 하면
    먹히지 않음!! 주의
*/
h1 + h2 {
    background-color: plum;
}
/* h1과 h2는 plum 배경색 */
h1, h2 {
    background-color: plum;
}
/* ul : unordered list 
    ul만 써도 먹긴 함 : CSS의 특징 (상속받는 속성이 있음) */
ol> li, ul {
    color: #333;
    font-size: 32px;
}
.syncro {
    color:skyblue;
}
.xyz {
    color:darkblue;
}
.effect {
    color : crimson;
}
.normal {
    color: orange;
}

li:nth-child(5) {
    text-decoration: underline;
}
/* 짝수 : even, 2n  /  홀수 : odd */
li:nth-child(even) {
    background-color: #eee;
}
li:nth-child(5n) {
    background-color: #aaa;
}
/* 보통은 잘 안쓰이긴함 */
input[type=text] {
    background-color: aqua;
}
ul:nth-child(2) > li:nth-child(2) {
    text-decoration: overline;
}
body > div:nth-child(8) > ul:nth-child(3) > li:nth-child(2) {
    font-size: 8px;
}